@import "../mixins";

.bonuses {
    margin-bottom: 40px;

    &__top {
        margin-left: 20px;

        margin-bottom: 20px;
        font-family: Montserrat;
        font-size: 22px;
        font-weight: 400;
        line-height: 27px;
        letter-spacing: 0%;
        color: #D6B88D;
    }

    &__wap {
        background-image: url(/img/bonus_bg.png);
        background-position: center;
        height: 280px;
        width: 100%;

        position: relative;
    }

    &__content {
        margin-left: 20px;

        display: flex;
        flex-direction: column;
        gap: 20px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    &__title {
        color: rgb(225, 211, 189);
        font-family: Montserrat;
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0%;
    }

    &__text {
        color: rgb(225, 211, 189);
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0%;
        text-align: left;
    }

    &__link {
        width: 245px;
    }
}