@import "../mixins";

.burgerMenu {
    
}

.main-button {
  width: 40px;
height: 40px;
  box-sizing: border-box;
border: 1px solid rgb(214, 184, 141);
border-radius: 4px;

box-shadow: 0px 2px 10px 0px rgba(184, 164, 142, 0.4);
background: rgb(43, 40, 37);
}