@import "../mixins";

.burgerMenu {
    display: none;
    background: rgba(53, 52, 52, 0.5);
    width: 100%;
    height: 100%;
    z-index: 1;

    &__row {
        width: 305px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 20px;
        padding: 20px 20px 10px 20px;

        border-radius: 4px;

        background: rgb(33, 30, 28);
    }

    // &__head {}

    &__cross {
        position: absolute; //! 
        width: 40px;
        height: 40px;

        flex: none;
        order: undefined;
        flex-grow: 0;
        margin: 0px 0px;

        & use {
            fill: transparent;
            stroke: #D6B88D;
        }
    }

    &__logo {
        position: static;
        width: 50px;
        height: 50px;
        transform: translateX(200%);
    }

    &__nav {
        margin-bottom: 0;
    }

    &__footer {
        margin-top: 0;
        width: 265px;
        height: 204px;
        display: flex;
        gap: 15px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    // &__ul {}

    &__info {
        margin-block: 0;
        width: 190px;
    }

    &__hoverP {
        &:hover {
            cursor: pointer;
            background: linear-gradient(117.67deg, rgb(192, 158, 108), rgb(255, 235, 204), rgb(191, 147, 107));
            background-clip: text;
            -webkit-text-fill-color: transparent;
            font-weight: 700;
        }
    }
}