@import "../mixins";


.dropdown {
    $block: &;
    position: relative;
    display: inline-block;

    width: 165px;
    height: auto;

    // &:hover &__dropd-img,
    // &:hover &__dropd-img::after,
    // &:hover &__dropd-img::before {
    //     background: $gradient;
    // }

    // &:active &__dropd-img,
    // &:active &__dropd-img::after,
    // &:active &__dropd-img::before {
    //     background: $gradient;
    // }

    &__btn {
        display: flex;
        justify-content: space-around;

        &:hover #{$block}__dropd-img,
        &:hover #{$block}__dropd-img::after,
        &:hover #{$block}__dropd-img::before {
            background: #2B2825;
        }

        &:active #{$block}__dropd-img,
        &:active #{$block}__dropd-img::after,
        &:active #{$block}__dropd-img::before {
            background: $gradient;
        }
    }

    &__dropd-img {
        display: block;
        width: 14px;
        height: 2px;
        background: $gradient;
        border-radius: 5px;
        margin: 6px auto;

        &::after,
        &::before {
            content: "";
            display: block;
            width: 20px;
            height: 2px;
            background: $gradient;
            border-radius: 5px;
            margin: 6px auto;
        }

        &::before {
            transform: translateY(-14px);
        }

        &::after {
            transform: translateY(-6px);
        }
    }

    &__content {
        display: none;
        position: absolute;
        z-index: 1;
    }

    &__li {
        width: 165px;
    }

    &:hover &__content {
        display: block;
    }
}