@import "../mixins";


.famous-perfum {
    padding-inline: 5%;
    margin-bottom: 40px;


    &__title {
        margin-bottom: 20px;
        font-family: Montserrat;
        font-size: 22px;
        font-weight: 400;
        line-height: 27px;
        letter-spacing: 0%;
        color: #D6B88D;
    }

    &__scroll {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        overflow-x: auto;
        overflow-y: auto;
        width: 100%;

        &>div:first-of-type {
            @include mq(xl) {
                min-width: 297px;
                max-width: 522px;
                background-repeat: no-repeat;
            }
        }
    }

    &__perfume-card {
        width: 297px;
    }
}

// свайп на js