@import "../mixins";

.footer {
    background: rgb(18, 17, 15);
    padding-block: 40px;

    &__title {
        text-align: center;
    }


    &__content {
        margin-left: 20px;
    }


    // &__inform {}

    &__bottom {
        color: rgb(190, 174, 151);
        font-family: Open Sans;
        font-size: 14px;
        font-weight: 400;
        line-height: 140%;
        letter-spacing: 0%;
        text-align: center;
    }
}