@import "../mixins";


.header {
    padding-inline: 30px;
    height: auto;
    margin-bottom: 40px;

    color: rgb(192, 158, 108);

    &__row {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;

        &--first {
            display: none;

            @include mq(md) {
                display: flex;
            }
        }

        &--two {
            display: flex;
        }
    }

    &__group {
        display: flex;
        white-space: nowrap;


        &--first {
            flex: 0;
        }

        &--ul {
            flex: 1;

            & ul {
                display: flex;
                justify-content: flex-end;
                width: 100%;
                flex-direction: row;

                & li {
                    margin-right: 26px;

                    list-style-type: none;
                }
            }
        }

        // &--dropdown{
        //     z-index: 1;
        // }

        &--coll {
            flex: 0;

            & a{
                text-decoration: none;
                color: inherit;
            }

            & a:hover,
            & a:active{
              text-decoration: underline;
            }
        }

        &--serch {
            display: none;
            flex-direction: row;
            align-items: center;
            width: 100%;

            @include mq(md) {
                display: flex;
            }
        }

        &--logo {
            order: 1;



            @include mq(md) {
                order: 0;
            }
        }

        &--serchMobail {

            @include mq(md) {
                display: none;
            }
        }

        &--uself {
            order: 1;



            & a {
                width: 40px;
                height: 40px;

                & svg {
                    width: 40px;
                    height: 40px;

                    & use {
                        width: 40px;
                        height: 40px;
                    }
                }
            }

            @include mq(md) {
                order: 0;
            }
        }
    }

    &__modal-box {
        position: relative;
        width: 100%;

        &--btn {
            position: absolute;
            top: -10px;
            right: -25px;
        }
    }

    &__uselfA svg {
        width: 40px;
        height: 36px;
    }

    &__burgerIcon use {
        width: 40px;
        height: 40px;
    }

    &__burgerIcon {
        width: 40px;
        height: 40px;
    }
}