@import "../mixins";

.headers {
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 400;

    background: $gradient;
    background-clip: text;
    color: transparent;

    margin-left: 5.64vw;


    //не срабатывает
    @include mq(md) {
        font-size: 100px;
    }
}
// @media (min-width: 768px) {
//     .headers {
//         font-size: 49px;
//     }
// }