@import "../mixins";

.inform {
    display: flex;
    flex-wrap: wrap ;
    gap: 20px;

    &__group {
        @include mq(md) {
            
        }

        &--time {
            display: inline-block;

        }

        &--contackts {
            display: inline-block;
        }

        &--info {
            display: inline-block;
        }
    }
}