@import "../mixins";

.info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-block: 20px;

    &__svg {
        width: 40px;
        height: 40px;
    }

    &__p {
        // width: 291px;
        height: auto;
        
    }
}