@import "../mixins";

.nav {
    z-index: 1;

    &__li {
        // width: 265px;
        list-style-type: none;
    }

    &__btn {
        justify-content: flex-start;
        text-transform: none;
        box-shadow: 0px 2px 10px 0px rgba(184, 164, 142, 0.4);
        border: none;
    }
}