@import "../mixins";

.perfume-card {
    width: 100%;
    height: 400px;
    flex-shrink: 0;

    border-radius: 4px;
    background: url(/img/Victoria.png);

    padding: 10px 0 0 0;

    &--aventus {
        background: url(/img/aventus.png);
        background-size: cover;
    }

    &--narcotiqe {
        background: url(/img/narcotiqe.png);
        background-size: cover;
    }

    &__inner {
        width: calc(100% - 44px);
        height: calc(100% - 10px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-shrink: 0;
        margin: auto;
    }

    &__h3 {
        color: #E1D3BD;
        text-align: center;
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &__wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        align-self: stretch;
    }

    &__h3--weight {
        align-self: stretch;
        font-weight: 700;
    }

    // &__btn {}
}