@import "../mixins";

.showcase {


    &__title {
        margin-left: 20px;

        margin-bottom: 20px;
        font-family: Montserrat;
        font-size: 22px;
        font-weight: 400;
        line-height: 27px;
        letter-spacing: 0%;
        background: $gradient;
        color: transparent;
        background-clip: text;
    }


    // &__filters {}


    &__container {

        @include mq(lg) {
            display: flex;
        }
    }


    &__empty-column {
        @include mq(lg) {
            width: calc(100%/3);
        }
    }


    &__content {
        display: flex;
        flex-wrap: wrap;

        @include mq(lg) {
            width: calc(200%/3);
        }
    }

    // &__product-card {}
}