@import "../mixins";

.showcase {


    &__title {
        margin-left: 20px;

        margin-bottom: 20px;
        font-family: Montserrat;
        font-size: 22px;
        font-weight: 400;
        line-height: 27px;
        letter-spacing: 0%;
        background: $gradient;
        color: transparent;
        background-clip: text;
    }

    // .showcase__filters

    &__filters {}

    // .showcase__container

    &__container {}

    // .showcase__empty-column

    &__empty-column {}

    // .showcase__content

    &__content {
        display: flex;
        flex-wrap: wrap;

        // justify-content: center;
        // gap: 3%;

    }

    &__product-card {}
}