@import "../mixins";



.slider {
    overflow-x: hidden;


    &__img {

        position: absolute;
        //спрятать эл-ты
        overflow: hidden;
        opacity: 0;
        transition: all 2s;
    }

    // текущий слайд
    &--active {
        z-index: 10;
        overflow: visible;
        opacity: 1;
        transition: all 2s;
    }
}

.slide-img {
    object-fit: fill;
    width: 100vw;
    height: 100%;
}