@import "../mixins";

.slider {
    position: absolute;
    height: 500px;
    // новое
    overflow: hidden;
    width: 100%
}

.slider [data-item] {
    position: absolute;
    // overflow: hidden;
    opacity: 0;
    transition: all 2s;
    height: 100%;
    width: 100%;
    // новое
    object-fit: cover;
    overflow: visible;
}

.slider [data-item].active {
    z-index: 10;
    overflow: visible;
    opacity: 1;
    transition: all 2s
}

.slider__dots {
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%);
    gap: 15px;
    z-index: 10
}

.slider__dots a {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid #D6B88D;
}

.slider__dots a.active {
    background-color: #D6B88D;
}

.slider__dots a:first-child,
.slider__dots a:last-child {
    width: 10px;
    height: 10px;
}

.slider__dots a:nth-child(3) {
    width: 20px;
    height: 20px;
}