@import "../mixins";

.toggle {
    margin-bottom: 20px;


    &.is-show {

        &>div {
            display: block;

            & div {
                & button {
                    &::after {
                        transform: rotate(180deg);
                    }
                }
            }
        }

        & button {
            &::after {
                content: "";
                background-image: url('/img/Vector.svg');
                position: absolute;
                width: 14px;
                height: 8px;
                right: 20px;
                transform: rotate(-180deg);
            }
        }
    }


    & button {
        width: 100%;
        height: auto;
        padding-block: 10px;
        background: rgb(54, 51, 46);



        color: #D6B88D;
        // text-align: start;
        display: flex;
        align-items: center;
        // justify-content: space-around;

        &::after {
            content: "";
            background-image: url('/img/vector.svg');
            position: absolute;
            width: 14px;
            height: 8px;
            right: 20px;
        }
    }

    &>div {
        display: none;
    }



}